/* ? CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
}

/* ? util */

.flex{
    display: flex;
}

.clearfix::after{ 
    content: '';
    clear: both;
    display: block;
}

/* ! background*/

.bgc-main{
    background-color: #F6F5F3;
}

.bgc-white{
    background-color: #fff;
}

.bgc-kcal{
    background-color: #F6F5F9;
}

.bgc-footer{
    background-color: #7C69A4;
}

/* ! container */

.container{
    max-width: 600px;
    margin: 0 auto;
}

/* ! margin */

.margin-b-20{
    margin-bottom: 20px;
}

/* ! padding */

.padding-b-20{
    padding-bottom: 20px;
}

/* ? Generics */

/* ! header */

.nav-bar{
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.title-nav{
    color: #FF9614;
    font-size: 40px;
    font-family: 'Nerko One', cursive;
    font-weight: bolder;
    text-transform: uppercase;
}

/* ! main */

/* main-title */

.main-title{
    padding: 20px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.type{
    color: grey;
    flex-basis: 100%;
    text-transform: uppercase;
}

.ghost{
    display: none;
}

.name-plate{
    color: #4E3969;
    font-size: 30px;
    font-weight: 800;
    text-transform: capitalize;
}

/* video box */

.box-description{
    padding: 40px;
}

.kcla-box{
    padding: 20px;
}

.kcla{
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.tag{
    padding-top: 20px;
}

.info-list{
    flex-wrap: wrap;
}

.info-list li{
    margin: 20px auto;
    flex-basis: 100%;
}

/* sociale-network */

.ul-social{
    justify-content: center;
    align-items: center;
}

.ul-social li{
    flex-basis: 20%;
    text-align: center;
}

/* add */

.add{
    display: none;
    margin: 20px auto;
}

/* recipe */

.recipe h2{
    text-transform: uppercase;
    margin-bottom: 30px;
}

.img-recipe{
    width: 70%;
    margin: 20px auto;
}

.border-bot{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

/* ! footer */

.footer{
    color: white;
    text-align: center;
    padding: 20px;
}

.ul-footer{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ul-footer li{
    flex-basis: 25%;
    margin: 10px auto;
}

.ul-footer a{
    color: #fff;
}


@media screen and (min-width: 768px){
    .nav-bar{
        justify-content: flex-start;
        padding-left: 10px;
    }

    .container{
        max-width: 700px;
    }

    .ghost{
        display: inline-block;
    }
    

    .info-list li{
        flex-basis: calc(100% / 3);
    }
    
    .add{
        display: block;
    }

    .img-recipe{
        width: 40%;
        margin: auto 10px auto 0;
        float: left;  /* aggingere il tappo per non andare sotto nel footer */
    }

    .ul-footer li{
        flex-basis: 20%;
    }
}

@media screen and (min-width: 992px){

    .container{
        max-width: 1140px;
    }

    .video-box{
        display: flex;
    }

    .box-frame{
        flex-basis: 70%;
    }
    
    .box-description{
        flex-basis: 30%;
    }

    .info-list li{
        flex-basis: 100%;
    }
}