/* ? CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;;
}

ul{
    list-style-type: none;
}

/* ? util */

.flex{
    display: flex;
}

/* ! background*/

.bgc-main{
    background-color: #F6F5F3;
}

.bgc-white{
    background-color: #fff;
}

.bgc-kcal{
    background-color: #F6F5F9;
}

/* ! container */

.container{
    max-width: 600px;
    margin: 0 auto;
}

.box-description.container{
    max-width: 525px;
    margin: 0 auto;
}

/* ? Generics */

/* ! header */

.nav-bar{
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.title-nav{
    color: #FF9614;
    font-size: 40px;
    font-family: 'Nerko One', cursive;
    font-weight: bolder;
    text-transform: uppercase;
}

/* ! main */

/* main-title */

.main-title{
    padding: 20px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.type{
    color: grey;
    flex-basis: 100%;
    text-transform: uppercase;
}

.name-plate{
    color: #4E3969;
    font-size: 30px;
    font-weight: 800;
    text-transform: capitalize;
}

/* video box */

.box-frame{
    margin-bottom: 40px;
}

.kcla-box{
    padding: 20px;
}

.kcla{
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.tag{
    padding-top: 20px;
}

.info-box{
    margin-bottom: 40px;
}

li{
    margin: 20px auto;
}